*{
    padding: 0%;
    margin: 0%;
    background-image: url(img/eu.jpg);
}

#titulo{
    color: rgb(209, 223, 223);
    padding-left: 85px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

header{
    background-color: rgb(37, 37, 37);
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}


#botoes{
    margin-left: 55%;
    text-decoration: none;
}

#botoes a{
    text-align: center;
    text-decoration: none;
    margin-left: 40px;
    color: rgb(57, 91, 136);
    font-family: Microsoft Sans Serif;
}

#eu{
    width: 261px;
    height: 261px;
    margin-left: 43%;
    margin-top: 104px;
    border-radius: 50%;
    
}

main{
    background-image: url("img/fundo.jpeg");
    background-size: cover;
    background-position: center;
    height: 890px;
}

#textomeio{
    text-align: center;
    padding-top: 50px;
    opacity: 0.7;
}

#senac{
    text-decoration: none;
}

#logos{
    text-align: center;
    padding-top: 30px;
}

#imgphp{
    width: 48px;
    height: 48px;
}

#logos2{
    text-align: center;
    padding-top: 20px;
}

#imggit{
    width: 48px;
    height: 48px;
}

#imgvs{
    width: 48px;
    height: 48px;
}

#caixasobre{
    text-align: center;
    border: solid;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border: 40%;
}